body {
    background-color: #3b0b0b;
    padding:0;
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #3b0b0b; /*--background color --*/
    min-width: 821px;
}
header h1{
    color:#ffffff;
    text-align: center;
}
p {
    padding: 0px;
    text-align: justify;
    margin:0x;
    line-height: 20px;
}
a {
    text-decoration: underline;
}
#main-content {
    width: 821px;
    height: auto;
    margin: auto;
    padding: 0x;
    margin-top: 30px;
    background-color: #FF0002;
    text-align: center;
    -webkit-border-radius: 15px;
}
#header {
    width:821px;
    height:auto;
    padding: 0px;
}
img.logo {
    padding :0 0 0 0px;
    position:absolute;
    left:50%;
}
/*---------------------Menu-----------------*/
.main-menu {
    width:821px;
    border-top: solid #ffffff;
    height: 40px; /*-- Menu Height --*/
    margin: 0px 0 5px 0; /*-- How far the margin is from top bottom elements --*/
    background-color:#8a0808;
    padding: 0;
    -webkit-border-radius: 15px; /*------ Rounded Edges -----*/
}
.menuRect {
    display:block;
    background-color: #8a0808;
    height: 40px;
    width: 821px;
}
.main-menu ul {
    list-style: none;
    padding: 0 0 0 0;
    margin-left: 24px; /*----- How far list is from the left -------*/
}
.main-menu ul li {
    display:block;
    float:left;
    position: relative;
}
.main-menu li ul{
    display:none;
}
.main-menu ul li a {
    display:block;
    height: 40px; /*-- Menu Height --*/
    padding: 0 15px 0 15px; /*-- How far each list item is from each other --*/
    text-decoration: none;
    color:#ffffff;
    line-height: 35px; /*-- Menu Height--*/
    font-size: 16px;
    background:#8a0808;
    white-space: nowrap;
}
.main-menu ul li.selected a {
    float:left;
    height: 40px;
    border: none;
    padding: 0 15px 0 15px;
    text-decoration: none;
    color: #fff;
    line-height: 40px; /*-- Menu Height --*/
    font-size: 16px;
    background-color: #6b6b6b;
}
.main-menu ul li a:hover {
    background: #6b6b6b; /*--scroll over link color ---*/
}
.main-menu li:hover ul{
    display:block;
    position: absolute;
}
.main-menu li:hover li{
    float:none;
    font-size: 12px;
}
.main-menu li:hover a{
    background: #6b6b6b;
}
.main-menu li:hover li a:hover{
    background: #8a0808;
}

/*-- Center Content Section --*/
.center-content {
    width:821px;
    height:auto;
    clear:both;
    padding: 0 0 0px 0;
    text-align:center;
}
.username-display {
    font-size: 14px;
    text-align: right;
    color:#ffffff;
    margin-top: 5px;
    margin-right: 5px;
}
.section-title {
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0px;
    color: #ffffff;
}
span.blue {
    font-weight:bold;
    color:#00b2ee; /*--Color of the word SECTION--*/
}
#move-foreward{
    width: 821px;
    height: 50px;
}
#nextPage { /*--The green Arrow Hyperlink--*/
    position: absolute;
    margin-right: 100px;
    text-align: right;
    left: -1000px;
    top:200px;
    height: 50px;
    z-index:990;
    width: 100px;
    height: 100px;
    padding: 20px 0px;
}
.title{ /*-- Title Elements(like h1) --*/
    width:auto;
    padding: 0px 0 0px 0;
    font-size: 20px;
    color: #ffffff; /*--- Title Color --*/
    font-weight: normal;
    letter-spacing: -.05em;
    margin:2px 0;
    position: relative;
}
.features {
    padding:5px 0 0 0px;
    margin: 20px 30px 20px 10px;
    background-color: #FFCC66;
    -webkit-border-radius:15px;
}
/*---- Welcome Box -------*/
.welcome-info{
    width:400px;
    height:150px;
    padding: 10px;
    margin: 10px;
    -webkit-border-radius: 15px;
    background-color: #ffffff; /*-- Welcome Box Color --*/
}

.features p{
    padding: 10px 15px 10px 15px;
}

/*----- Welcome List Styles -------*/
ul.list {
    list-style: none;
    padding-bottom: 20px;
    margin:0px;
}
ul.list li{
    height: 20px;
    width: auto;
    padding: 5px 15px 2px 15px;
    margin: 0;
    color: #36322b;
    text-align: left;
    text-decoration: none;
    line-height:24px;
}
ul.list li:hover{
    background-color: #e3e3e3;
}

/*-- Center Content ----*/
.center-content {
    width:821px;
    height:auto;
    clear:both;
    padding: 0px 0 0px 0;
    background-color:#EE0000;
}
.center-left{
    width: 500px;
    float: left;
    padding: 10px 0 10px 10px;
}
.center-right{
    width:300px;
    float: left;
    padding: 10px 0 10px 0;
}
/*---------------Login Form ------------*/
.text-box{
    width:278px;
    height:144px;
    padding: 15px 10px 0 10px;
    margin-bottom: 20px;
    background-image: url("images/text-gradient.png") no-repeat 0 center;
    background-color: #BB0030;
    display: block;
    -webkit-border-radius: 15px;
    color: #eeeeee;
}
.login-form-row{
    float: left;
    padding: 4px 0 4px 0;
    color: #eeeeee;
}
label.login-label {
    width:70px;
    float:left;
    padding:3px 5px 0 0;
    text-align:right;
    color: #eeeeee;
}
input.login-input{
    width:153px;
    height:18px;
    float: left;
    border: 1px #9dbbc6 solid;
    background-color: #fff;
    color: #eeeeee;
}
input.login{
    float:right;
    padding:10px 20px 0 0;
}
.register-form-row{
    float: left;
    padding: 4px 0 4px 0;
    color: #000000;
}
label.register-label {
    width:70px;
    float:left;
    padding:3px 5px 0 0;
    text-align:right;
    color: #000000;
}
input.register-input{
    width:153px;
    height:18px;
    float: left;
    border: 1px #9dbbc6 solid;
    background-color: #fff;
    color: #eeeeee;
}
input.register {
    float:right;
    padding:10px 20px 0 0;
}
.software-image {
    margin-bottom:20px;
}


/*----------------Question-------------*/
.question-panel {
    background-color:#000000;
    border-style:solid;
    border-width: 5px;
    width: 400px;
    height: 150px;
    text-align: center;
    -webkit-border-radius: 15px;
}
.instruction {
    margin-top: 5px;
    font-size: 16px;
    font-style: bold;
    color: #AA0000;
}
.q-container {
    color: #AA0000;
    font-size:12px;
    text-align: center;
}
.question {
    text-align: left;
    margin: 20px 10px 10px 50px;   
}
.big-white-panel{
    background-color:#ffffff;
    width:400px;
    height:150px;
    border-style:solid;
    opacity:1;
    border-width: 5px;
    border-color:#5b0e00;
    -webkit-border-radius: 15px;
    margin: 2px 2px 2px 2px;
    z-index:50;
}
.big-black-panel{
    background-color:#000000;
    width:400px;
    height:150px;
    border-style:solid;
    opacity:1;
    border-width: 5px;
    border-color:#5b0e00;
    -webkit-border-radius: 15px;
    margin: 2px 2px 2px 2px;
    z-index:50;
}    	

.white-panel {
    background-color:#ffffff;
    width:250px;
    height:150px;
    border-style:solid;
    opacity:1;
    border-width: 5px;
    border-color:#5b0e00;
    -webkit-border-radius: 15px;
    margin: 2px 2px 2px 2px;
    z-index:50;
}
.black-panel {
    background-color:#000000;
    width:200px;
    opacity:1;
    height:150px;
    border-style:solid;
    border-width: 5px;
    border-color:#5b0e00;
    -webkit-border-radius: 15px;
    margin: 2px 2px 2px 2px;
    z-index:50;
}
.center-middle-panel {
    width:821px;
    height: 400px;
}
/*---------Answers----------*/
.answer-panel {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    border-color:#5b0e00;
}
.answer-panel a{
    text-decoration:none;
}
.answer-panel a div p{
    margin: 20px 30px 20px 30px;
}
.answer-contain-false1 {
    background-color:#ffffff;
    opacity:.5;
    border-style:solid;
    border-width: 5px;
    border-color:#5b0e00;
    width: 200px;
    height: 150px;
    -webkit-border-radius: 15px;
    z-index:9998;
}
.answer-contain-false2 {
    background-color:#ffffff;
    opacity:.5;
    border-style:solid;
    border-width: 5px;
    border-color:#5b0e00;
    width: 200px;
    height: 150px;
    -webkit-border-radius: 15px;
    z-index:9998;
}
.answer-contain-false3 {
    background-color:#ffffff;
    opacity:.5;
    border-style:solid;
    border-width: 5px;
    border-color:#5b0e00;
    width: 200px;
    height: 150px;
    -webkit-border-radius: 15px;
    z-index:9998;
}
.answer-contain-true {
    background-color:#ffffff;
    opacity:.5;
    border-style:solid;
    border-width: 5px;
    border-color: #5b0e00;
    width: 200px;
    height: 150px;
    -webkit-border-radius: 15px;
    z-index:9998;
}
.answer-contain-false1 p{
    z-index:9997;
    opacity:1;
}
answer-contain-false2 p{
    z-index:9997;
    opacity:1;
}
answer-contain-false3 p{
    z-index:9997;
    opacity:1;
}
answer-contain-true p{
    z-index:9997;
    opacity:1;
}
.answer-contain-true:hover {
    background-color: #C6C6C6;
    opacity:1;
}
.answer-contain-false1:hover {
    background-color: #C6C6C6;
    opacity:1;
}
.answer-contain-false2:hover {
    background-color: #C6C6C6;
    opacity:1;
}
.answer-contain-false3:hover {
    background-color: #C6C6C6;
    opacity:1;
}
.answer-link-true {
    margin:0 auto;
    padding:0px;
    font-size:12px;
    z-index:9999;
}
.answer-link-false1 {
    margin:0 auto;
    padding:0px;
    font-size:12px;
    z-index:9999;
}
.answer-link-false2 {
    margin:0 auto;
    padding:0px;
    font-size:12px;
    z-index:9999;
}
.answer-link-false3 {
    margin:0 auto;
    padding:0px;
    font-size:12px;
    z-index:9999;
}
.codeLines {
    text-decoration:none;
    list-style:none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    line-height: 25px;
    font-size:12px;
}
.codeLinesAnswers {
    text-decoration:none;
    list-style:none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
}
.codeLinesAnswers li{
    padding: 15px;
    font-size: 16px;
}


/*----------Project Choices ------------*/
.proj_panel{
        text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.proj_panel a {
        color:#8a0808
}

.proj_contain{
    background-color: #ffffff;
    border-style:solid;
    border-color: #8a0808;
    border-width: 5px;
    width: 150px;
    height: 400px;
    -webkit-border-radius: 15px;
}

.proj_contain:hover{
    background-color: #6b6b6b;
}

.proj_link  {
    /*-- Link Styles Here --*/
}
.proj_post {
    margin-left:20px;
    margin-right:20px;
    padding: 0px;
}


/*-------------Hint Window ------------*/
.hint-contain {
    background-color:#ffffff;
    border-style:solid;
    border-width: 5px;
    width: 500px;
    height: 400px;
    -webkit-border-radius: 15px;
}
.register-contain {
    background-color:#ffffff;
    border-style:solid;
    border-width: 5px;
    padding: 20px;
    width: 500px;
    height: 450px;
    -webkit-border-radius: 15px;
}

.pot-pourri{
    margin-top: 20px;
}
.ask-row{
    margin-top: 20px;
}
.submit-row{
    margin-top: 10px;
    text-align:right;
    margin-right: 40px;
    font-size: 16px;
}
#slidenav {
  margin:0 auto;
  margin-top: 30px;
  top: 200px;
  left: -1000px;
  width:500px;
  height:500px;
  padding:20px 50px;
  position:absolute;
  z-index: 9900;
}
#slidenav-main {
  margin:0 auto;
  margin-top: 30px;
  top: 100px;
  left: -1000px;
  padding:20px 50px;
  position:absolute;
  z-index: 9900;
}
#whiteSpace{
    color:#ffffff;
    font-size:1px;
}
#open {
  margin:0 auto;
  width:800px;
  background:url(images/open.png);
  text-align:center;
  padding:5px;
  font-size:30px;
  z-index:9999;
  text-align:right;
  color:#ffffff;
  font-size:16px;
}
#open-main {
  margin:0 auto;
  width:200px;
  text-align:center;
  background:url(images/open.png);
  padding:5px;
  font-size:16px;
  z-index:9999;
  text-align:right;
  color:#ffffff;
  font-size:16px;
}
.hint-text {
    margin: 30px 30px 30px 30px;
}
